.footer-home {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 550px;
  background: linear-gradient(
    0deg,
    #ccde65 7.83%,
    rgba(204, 222, 101, 0) 54.28%,
    #ccde65 95.48%
  );
  z-index: -1;
}

.footer-wrapper {
  margin-top: 60px;
  display: flex;
  width: calc(200%);
  animation: scroll-left 15s linear infinite;
  margin-bottom: 20px;
}

.footer-wrapper img {
  height: 400px;
}

@keyframes scroll-left {
  from {
    transform: translateX(0); /* Posição inicial */
  }
  to {
    transform: translateX(-47%); /* Move até o fim do conteúdo original */
  }
}

.footer-contact {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: OT Neue Montreal Bold Squeezed;
  font-size: 50px;
}

.ft-galeria .footer-contact {
  border-top: 1px solid #000;
  background-color: white;
  padding-bottom: 12px;
}

.footer-home.ft-work-page {
  background-color: #8387a3 !important;
  background: linear-gradient(
    0deg,
    #ffffff 7.83%,
    rgba(255, 255, 255, 0) 54.28%,
    #ffffff 95.48%
  );
}

.footer-home.ft-work-page .footer-contact {
  border-top: 1px solid #000;
  background-color: #8387a3;
  padding-bottom: 16px;
  padding-top: 16px;
}

@media (max-width: 1140px) {
  .footer-contact {
    flex-direction: column;
    border-bottom: 1px solid black;
  }
  .footer-contact a {
    border-top: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footer-wrapper {
    margin-top: 200px;
  }

  .ft-galeria .footer-contact {
    border: none;
    max-width: 100%;
  }

  .ft-work-page .footer-contact {
    border: none !important;
  }
}
