.main-gallery {
  justify-self: center;
  padding-top: 200px;
  padding: 200px 32px 0px 32px;
  max-width: 100%;
  background-color: white;
}

.gallery-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3);
  column-gap: 12px;
  background-color: white;
}

.img-gallery-container {
  max-width: 454px;
  height: 680px;
  object-fit: cover;
  position: relative;
}

.img-gallery-container img {
  max-height: 680px;
  height: auto;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.gallery-wrapper div:nth-child(1) {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.gallery-wrapper div:nth-child(2) {
  margin-top: 262px;
  z-index: 10;
  grid-column: 5 / 8;
  grid-row: 1 / 2;
}

.gallery-wrapper div:nth-child(3) {
  z-index: 10;
  grid-column: 8 / 11;
  grid-row: 1 / 2;
}

.gallery-wrapper div:nth-child(4) {
  margin-top: -380px;
  margin-left: 156px;
  z-index: 10;
  grid-column: 1 / 5;
  grid-row: 2 / 3;
}

.gallery-wrapper div:nth-child(5) {
  margin-top: -80px;
  grid-column: 7 / 10;
  grid-row: 2 / 3;
}

.gallery-wrapper div:nth-child(6) {
  margin-top: -360px;
  grid-column: 10 / -1;
  grid-row: 2 / 3;
}

.gallery-wrapper div:nth-child(7) {
  margin-top: -400px;
  grid-column: 1 / 4;
  grid-row: 3;
}

.gallery-wrapper div:nth-child(8) {
  margin-top: -140px;
  grid-column: 5 / 8;
  grid-row: 3;
}

.gallery-wrapper div:nth-child(9) {
  margin-top: -270px;
  width: 454px;
  grid-column: 9 / 12;
  grid-row: 3;
}

.img-gallery-container.gallery-hover img {
  filter: blur(5px);
  transition: filter 0.3s ease;
}

.gallery-work-info {
  margin-top: 0px !important;
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  font-family: OT Neue Montreal Bold Semi Squeezed;
  font-size: 30px;
  color: white;
  mix-blend-mode: difference;
  margin-top: 26px;
  margin-left: 26px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.active {
  opacity: 1;
}

/* slider */

.extra-works-wrapper {
  padding-top: 136px;
  background-color: white;
  margin-bottom: 550px;
}

.work-item {
  list-style: none;
  text-align: center;
}

.works-slider-container {
  display: flex;
  width: 80vw;
}

.nav-slider-container {
  position: relative;
  padding-bottom: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.carrossel-title {
  font-family: OT Neue Montreal Book Semi Squeezed;
  font-size: 50px;
  margin-bottom: 32px;
  margin-left: 182px;
}

.works-nav-back {
  cursor: pointer;
  margin-left: 32px;
}

.works-nav-forw {
  cursor: pointer;
  margin-right: 32px;
}

.carrossel-limiter {
  max-width: 80vw;
  overflow: hidden;
}

@media (max-width: 1140px) {
  .main-gallery {
    padding-top: 26px;
  }
}
