.main-gallery {
  justify-self: center;
  padding-top: 200px;
  padding: 200px 32px 0px 32px;
  background-color: white;
  display: flex;
  width: 100%;
}

.gallery-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3);
  column-gap: 12px;
  background-color: white;
}

.img-gallery-container {
  max-width: 454px;
  height: 680px;
  object-fit: cover;
  position: relative;
}

.img-gallery-container img {
  max-height: 680px;
  height: auto;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.gallery-wrapper div:nth-child(1) {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.gallery-wrapper div:nth-child(2) {
  margin-top: 262px;
  z-index: 10;
  grid-column: 5 / 8;
  grid-row: 1 / 2;
}

.gallery-wrapper div:nth-child(3) {
  z-index: 10;
  grid-column: 8 / 11;
  grid-row: 1 / 2;
}

.gallery-wrapper div:nth-child(4) {
  margin-top: -380px;
  margin-left: 156px;
  z-index: 10;
  grid-column: 1 / 5;
  grid-row: 2 / 3;
}

.gallery-wrapper div:nth-child(5) {
  margin-top: -80px;
  grid-column: 7 / 10;
  grid-row: 2 / 3;
}

.gallery-wrapper div:nth-child(6) {
  margin-top: -360px;
  grid-column: 10 / -1;
  grid-row: 2 / 3;
}

.gallery-wrapper div:nth-child(7) {
  margin-top: -400px;
  grid-column: 1 / 4;
  grid-row: 3;
}

.gallery-wrapper div:nth-child(8) {
  margin-top: -140px;
  grid-column: 5 / 8;
  grid-row: 3;
}

.gallery-wrapper div:nth-child(9) {
  margin-top: -270px;
  width: 454px;
  grid-column: 9 / 12;
  grid-row: 3;
}

.img-gallery-container.gallery-hover img {
  filter: blur(5px);
  transition: filter 0.3s ease;
}

.gallery-work-info {
  margin-top: 0px !important;
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  font-family: OT Neue Montreal Bold Semi Squeezed;
  font-size: 30px;
  color: white;
  mix-blend-mode: difference;
  margin-top: 26px;
  margin-left: 26px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.active {
  opacity: 1;
}

/* slider */

.extra-works-wrapper {
  padding-top: 136px;
  background-color: white;
  margin-bottom: 550px;
}

.work-item {
  list-style: none;
  text-align: center;
}

.works-slider-container {
  display: flex;
  width: 80vw;
}

.nav-slider-container {
  position: relative;
  padding-bottom: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.carrossel-title {
  font-family: OT Neue Montreal Book Semi Squeezed;
  font-size: 50px;
  margin-bottom: 32px;
  margin-left: 182px;
}

.works-nav-back {
  cursor: pointer;
  margin-left: 32px;
}

.works-nav-forw {
  cursor: pointer;
  margin-right: 32px;
}

.carrossel-limiter {
  max-width: 80vw;
  overflow: hidden;
}

/* mobile */
@media (max-width: 1140px) {
  .main-gallery {
    padding: 26px 0px 0px 0px;
    width: unset;
    display: flex;
    align-items: center;
    min-width: 100%;
    overflow-y: hidden;
  }

  .gallery-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .img-gallery-container {
    max-height: 380px;
    max-width: max-content;
  }
  /* .carrossel-title {
    width: 100%;
  }

  .extra-works-wrapper {
    min-width: 100% !important;
  } */

  .nav-slider-container {
    width: 100%;
  }

  .img-gallery-container img {
    max-height: 100%;
    display: block;
  }

  .gallery-wrapper div {
    margin: unset !important;
    grid-column: 1 !important;
    grid-row: 1 !important;
  }

  .gallery-wrapper div:nth-child(1) {
    grid-column: 2 !important;
    margin-left: -150px !important;
    z-index: 2;
  }

  .gallery-wrapper div:nth-child(2) {
    margin-left: 0px !important;
    margin-top: 300px !important;
  }

  .gallery-wrapper div:nth-child(2) img {
    max-width: 200px;
  }

  .gallery-wrapper div:nth-child(3) {
    grid-column: 2 !important;
    margin-top: 280px !important;
    margin-left: -20px !important;
    z-index: 0;
  }

  .gallery-wrapper div:nth-child(4) {
    grid-column: 2 !important;
    margin-left: -250px !important;
    margin-top: -50px !important;
    grid-row: 2 !important;
  }

  .gallery-wrapper div:nth-child(5) {
    grid-column: 2 !important;
    grid-row: 2 !important;
    margin-top: 200px !important;
    margin-left: -50px !important;
    z-index: 10;
  }

  .gallery-wrapper div:nth-child(6) {
    grid-row: 3 !important;
    margin-top: -20px !important;
    margin-left: 50px !important;
  }

  .gallery-wrapper div:nth-child(7) {
    grid-row: 3 !important;
    grid-column: 2 !important;
    margin-left: 40px !important;
  }

  .gallery-wrapper div:nth-child(7) img {
    max-width: 150px;
  }

  .gallery-wrapper div:nth-child(8) {
    display: none;
  }

  .gallery-wrapper div:nth-child(9) {
    display: none;
  }
}
