header {
  display: flex;
  justify-content: space-between;
  font-family: OT Neue Montreal Book Semi Squeezed;
  font-size: 60px;
  padding-top: 22px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.seletor-linguagem {
  display: flex;
  gap: 25px;
  margin-left: 22px;
  margin-right: 14vw;
  position: relative;
}

.pt {
  cursor: pointer;
}
.en {
  cursor: pointer;
}

.header-menu {
  display: flex;
  gap: 14px;
  margin-right: 22px;
  position: relative;
}

.header-logo img {
  max-width: 460px;
  width: 23vw;
  height: 100%;
}

.header-sobre {
  background: linear-gradient(
    0deg,
    rgba(204, 222, 101, 0) 37.94%,
    #ccde65 69.28%
  );
}

.header-galeria.list-active {
  background: linear-gradient(0deg, rgba(204, 222, 101, 0) 37.94%, #fff 69.28%);
}
