.home-container img {
  max-width: 100%;
  object-fit: cover;
}

.home-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: 2;
  margin-bottom: 447px;
}

.home-carrossel {
  display: flex;
  width: 100%;
}

.image-home-wrapper {
  flex-shrink: 0;
  width: 100%;
}

.image-home-wrapper img {
  object-fit: cover;
  width: 100%;
  min-height: 100vh;
}

/* navigation carrossel */

.carrossel-nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 130px;
  z-index: 2;
}

.carrossel-nav img {
  margin-right: 22px;
  margin-left: 22px;
  cursor: pointer;
}
/*  */

.image-home-info {
  font-family: OT Neue Montreal Book Semi Squeezed;
  font-size: 24px;
  margin-left: 32px;
  position: fixed;
  bottom: 40px;
}
