.sobre-container {
  background-color: #ccde65;
  padding-top: 312px;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bio-container {
  margin-left: 30px;
  max-width: 760px;
}

.bio-container p {
  font-family: "OT Neue Montreal Book Semi Squeezed";
  font-size: 2.4vw;
}

.negrito {
  font-family: "OT Neue Montreal Bold Italic Semi Squeezed";
}
.e-mail-container {
  margin-top: 40px;
}

.e-mail-container a {
  font-family: "OT Neue Montreal Bold Squeezed";
  font-size: 2.4vw;
}

.contato {
  font-family: "OT Neue Montreal Book Semi Squeezed";
  font-size: 2.4vw;
  margin-left: 166px;
}

.telefone-wrapper {
  display: grid;
}

.telefone-wrapper a {
  font-family: "OT Neue Montreal Bold Squeezed";
}

.insta-wrapper {
  display: grid;
}

.insta-wrapper a {
  font-family: "OT Neue Montreal Bold Squeezed";
}

.imagem-sobre-container img {
  max-height: 760px;
  width: 30vw;
  transition: all 1.5s ease-in-out, opacity 1.5s ease-in-out;
  transform: scale(1);
  opacity: 1;
}

.imagem-sobre-container img.animate {
  transform: scale(8);
  opacity: 0.7;
}

.e-mail-container-mobile {
  display: none;
}

@media (max-width: 1140px) {
  .sobre-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 150px;
    overflow: auto;
  }

  .imagem-sobre-container {
    display: flex;
    justify-content: center;
    grid-row: 1;
  }

  .imagem-sobre-container img {
    width: 80%;
    max-width: 600px;
    max-height: unset;
  }

  .bio-container {
    margin-left: unset;
    max-width: 100%;
    margin-top: 50px;
    padding: 0px 30px 0px 30px;
    grid-row: 2;
    padding-bottom: 50px;
  }

  .bio-container p {
    font-size: 34px;
    text-align: center;
  }

  .contato {
    margin-left: unset;
    font-size: 44px;
    border-top: 1px solid #000;
    padding-top: 30px;
    padding-bottom: 30px;
    grid-row: 3;
  }

  .contato div {
    padding-left: 32px;
  }

  .e-mail-container {
    display: none;
  }
  .e-mail-container-mobile {
    display: block;
    border-top: 1px solid black;
    padding-top: 30px;
  }

  .e-mail-container-mobile a {
    font-family: "OT Neue Montreal Bold Squeezed";
    font-size: 40px;
    padding-left: 32px;
  }
}
