.sobre-container {
  background-color: #ccde65;
  padding-top: 312px;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bio-container {
  margin-left: 30px;
  max-width: 760px;
}

.bio-container p {
  font-family: "OT Neue Montreal Book Semi Squeezed";
  font-size: 2.4vw;
}

.negrito {
  font-family: "OT Neue Montreal Bold Italic Semi Squeezed";
}
.e-mail-container {
  margin-top: 40px;
}

.e-mail-container a {
  font-family: "OT Neue Montreal Bold Squeezed";
  font-size: 2.4vw;
}

.contato {
  font-family: "OT Neue Montreal Book Semi Squeezed";
  font-size: 2.4vw;
  margin-left: 166px;
}

.telefone-wrapper {
  display: grid;
}

.telefone-wrapper a {
  font-family: "OT Neue Montreal Bold Squeezed";
}

.insta-wrapper {
  display: grid;
}

.insta-wrapper a {
  font-family: "OT Neue Montreal Bold Squeezed";
}

.imagem-sobre-container img {
  max-height: 760px;
  width: 30vw;
  transition: all 1.5s ease-in-out, opacity 1.5s ease-in-out;
  transform: scale(1);
  opacity: 1;
}

.imagem-sobre-container img.animate {
  transform: scale(8);
  opacity: 0.7;
}
